<div class="row">
	<div class="col-xs-2">
		<img class="img-responsive" src="assets/velocity-icon.png">
	</div>
	<div class="col-xs-10">
		<div class="col-xs-12 title">
			<strong>{{title}}</strong>
		</div>
		<div class="col-xs-12">
			{{text}}
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6">{{value | number : '1.0-1'}}&nbsp;min</div>
			<div class="col-xs-6">{{variation | number : '1.0-1'}}&nbsp;%</div>
		</div>	
	</div>
</div>
