<div class="row">
	<div class="col-xs-2">
		<img src="assets/share-top-icon.png" alt="">
	</div>
	<div class="col-xs-10">
		<div class="row">
			Top brands by share at category
		</div>
		<div class="row">
			Share by units sold at category (%)
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<div class="row" *ngFor="let share of top_shares">{{share[0]}}</div>
	</div>
	<div class="col-xs-10">
		
		<div class="progress" *ngFor="let share of top_shares">
		  <div class="progress-bar" role="progressbar" style="width: 20px;"  aria-valuemin="0" [style.width]="share[1]+'%'" aria-valuemax="100"></div>&nbsp;{{share[1] | number : '1.0-2'}}%
		</div>
	</div>
</div>