<div class="row">
	<div class="col-xs-4">
		<img class="img-responsive" [src]="iconPath">
	</div>
	<div class="col-xs-4 text-center value">
		<strong>{{value | number : '1.0-2'}}</strong><span *ngIf="valuePercentage">%</span><span *ngIf="seconds">&nbsp;seg.</span>
	</div>
	<div class="col-xs-4 text-right variation">
		<strong 
			[class.text-danger]="variation < 0" [class.text-success]="variation > 0">{{variation | number : '1.0-1'}}</strong><span *ngIf="variationPercentage" [class.text-danger]="variation < 0">%</span>
	</div>
</div>
	<div class="col-xs-12 text-center title">
		<strong>{{title}}</strong>
	</div>
<div class="row">
	<div class="col-xs-12 text-center text">
		{{text}}
		<br>
		<small>{{obs}}</small>
	</div>
</div>
