<div class="container">
  <!-- Header -->
  <div class="row">
    <div class="col-xs-4 text-left">
      <img src="assets/logo-mediar.png" alt="">
    </div>
    <div class="col-xs-4 text-center">
      <h1>{{title}}</h1>
    </div>
    <div class="col-xs-4 text-right">

      <button type="button" [ngClass]="{disabled : isBrasilKirin}" class="btn btn-primary btn-lg insight-btn ">Get insights</button>
    </div>
  </div>

  <div class="row-space"></div>

  <!-- Filters -->
  <div class="row">
    <div class="col-xs-3">
      <label>Period</label>
      <select class="input-large form-control" [(ngModel)]="selectedPeriod"
      (change)="onPeriodChange()">
        <option *ngFor="let period of periods" [ngValue]="period">{{period}}</option>
      </select>
    </div>
    <div class="col-xs-3">
      <label>Category</label>
      <select class="input-large form-control" [(ngModel)]="selectedCategory"
      (change)="onCategoryChange()" >
        <option *ngFor="let category of categories" [ngValue]="category" >{{category}}</option>
      </select>
    </div>
    <div class="col-xs-3">
      <label>Manufacturer</label>
      <select class="input-large form-control" [(ngModel)]="selectedManufacturer"  (change)="onManufacturerChange()">
        <option *ngFor="let manufacturer of manufacturers" [ngValue]="manufacturer">{{manufacturer}}</option>
      </select>
    </div>
    
    <div class="col-xs-3">
      <!-- <label>Cluster</label>
      <select class="input-large form-control" [(ngModel)]="selectedCluster">
        <option *ngFor="let cluster of clusters" [ngValue]="cluster">{{cluster.name}}</option>
      </select> -->
    </div>
  </div>

  <div class="row-space"></div>
  
  <!-- Data Components -->
  <div class="row">
    <div class="col-xs-3">
      <info-widget 
        *ngIf="selectedPeriod" 
        selectedPeriod="{{selectedPeriod}}" 
        infoType="storeFlow"
      ></info-widget>
    </div>
    <div class="col-xs-3">
      <info-widget
        *ngIf="selectedCategory" 
        selectedPeriod="{{selectedPeriod}}" 
        selectedCategory="{{selectedCategory}}" 
        infoType="categoryFlow"
      ></info-widget>
    </div>
    <div class="col-xs-3">
      <info-widget
        *ngIf="selectedCategory"
        selectedPeriod="{{selectedPeriod}}" 
        selectedCategory="{{selectedCategory}}" 
        infoType="engagedShoppers"
      ></info-widget>
    </div>
    <div class="col-xs-3">
      <info-widget
        *ngIf="selectedCategory"
        selectedPeriod="{{selectedPeriod}}" 
        selectedCategory="{{selectedCategory}}" 
        infoType="averageTime"
      ></info-widget>
    </div>
  </div>
  <div class="row-space"></div>
  <div class="row">
    <div class="col-xs-3">
      <info-widget
      *ngIf="selectedCategory"
      selectedPeriod="{{selectedPeriod}}" 
      selectedCategory="{{selectedCategory}}" 
      infoType="categoryTotalConversion"
    ></info-widget>
    </div>
    <div class="col-xs-3">
      <info-widget
        *ngIf="selectedCategory"
        selectedPeriod="{{selectedPeriod}}" 
        selectedCategory="{{selectedCategory}}" 
        selectedManufacturer="{{selectedManufacturer}}" 
        infoType="manufacturerConversion"
      ></info-widget>
    </div>
    <div class="col-xs-3">
      <info-widget 
        *ngIf="selectedCategory"
        selectedPeriod="{{selectedPeriod}}" 
        selectedCategory="{{selectedCategory}}" 
        selectedManufacturer="{{selectedManufacturer}}" 
        infoType="competitorsConversion"
      ></info-widget>
    </div>
    <div class="col-xs-3">
      <info-widget
        *ngIf="selectedCategory"
        selectedPeriod="{{selectedPeriod}}" 
        selectedCategory="{{selectedCategory}}" 
        selectedManufacturer="{{selectedManufacturer}}" 
        infoType="missedOpportunities"
      ></info-widget>
    </div>
  </div>

  <div class="row-space"></div>
  
  <!-- Heatmap -->
  <div class="row">
    <div class="col-xs-6">
      <img class="img-responsive" src="assets/heatmap.png" alt="">
    </div>
    <div class="col-xs-6">
      <div class="col-xs-12">
        <horizontal-chart
          selectedPeriod="{{selectedPeriod}}" 
          selectedCategory="{{selectedCategory}}" 
          selectedManufacturer="{{selectedManufacturer}}" 
        ></horizontal-chart>
      </div>
      <div class="col-xs-12">
        <velocity-widget
          *ngIf="selectedCategory"
          selectedPeriod="{{selectedPeriod}}" 
          selectedCategory="{{selectedCategory}}" 
        ></velocity-widget>
      </div>
    </div>
  </div>

</div>